body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7dbae9;
    user-select: none;
  }
  
  #emoji {
    font-size: 10rem;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 200ms;
  }
  
  #emoji:hover {
    transform: scale(1.3);
    filter: grayscale(0);
  }
  .content{
    font-size: 3rem;
    margin-top: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }